.about{
    padding-bottom: 48px;
}


.about-top{
    display: flex;
    align-items: center;
}

.picture {
    height: 420px;
}

.about-info{
    font-size: 22px;

}

.info-name {
    color: blueviolet;
    font-size: 32px;
}

@media only screen and (max-width:720px){
    .about-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .picture{
        height:280px ;
        
    }

    .about-photo{
        order:-1;
    }
    .about-info{
        font-size: 18px;
        text-align: justify;
        
    }

    .info-name{
        font-size: 26px;
    }
}


